header {
    width: 100%;
}

.top-bar {
    background-color: #af7871;
    color: black;
    text-align: center;
    padding: 5px 0;
    font-size: 14px;
    font-weight: bold;
    font-size: larger;
    border-radius: 0 0 30px 30px;
    margin-right: 25px;
    margin-left: 25px;
    letter-spacing: 3px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: #fff !important;
}

.logo img {
    height: 120px;
    width: 130px;
    padding-right: 20px;
    border-right: 2px solid #ddd;
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    font-size: 16px;
    color: #333;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links a:hover {
    
    background-color: #c96480; 
}

.search-and-enquiry {
    display: flex;
    align-items: center;
    border-right: 2px solid #ddd;
    height: 120px;
}

.search-and-enquiry input {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-right: 10px;
}

.enquiry-button {
    background-color: #af7871;
    color: black;
    border: none;
    border-radius: 40px;
    padding: 20px 40px;
    cursor: pointer;
    margin-right: 40px;
    font-weight: bold;
    font-size: medium;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.enquiry-button:hover {
    background-color: #c96480;
}


.hamburger {
    display: none;
    cursor: pointer;
  }
  
  .nav-links {
    display: flex;
    gap: 1rem;
  }
  
  .close-icon {
    display: none; /* hidden by default */
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 913px) {
    .hamburger {
      display: block;
      margin: 10px;
    }
  
    .nav-links {
      display: none;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: -250px;
      width: 220px;
      height: 100vh;
      background-color: rgba(255, 255, 255, 0.8); /* semi-transparent */
      backdrop-filter: blur(10px); /* optional: glass effect */
      padding: 30px 20px;
      box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
      transition: left 0.3s ease;
      z-index: 999;
    }
  
    .nav-links.show {
      left: 0;
      display: flex;
    }
  
    .nav-links li {
      margin-bottom: 20px;
    }
  
    /* Close icon inside nav */
    .close-icon {
      display: block; /* only visible under 768px */
      align-self: flex-end;
      font-size: 28px;
      cursor: pointer;
      margin-bottom: 20px;
      color: #333;
    }
  }