body {
    margin: 0;
    font-family: Arial, sans-serif;
}

html {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  html::-webkit-scrollbar {
    display: none;
  }
  
  body {
    overflow-y: auto; /* Still allow scrolling, just hide the scrollbar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  


.vid{
    width: auto;
    height: 600px;
    display: flex;
    margin-top: 10px;
}
.vid1{
    width: 600px;
    height: 600px;
    background-color: #fdf1e8;
}
.vid1 img{
    width: 550px;
    height: 600px;
}
.vid2{
    width: 910px;
    height: 600px;
    margin-right: 0px;
    background-color: #fdf1e8;
}

.trending{
    width:auto;
    height: 600px;
    background-color:#242525;
    margin-top: 0%;
}
