body {
    font-family: Arial, sans-serif;
    background:
    linear-gradient(135deg, #fef6e4, #fdebcf);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 400px;
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: #007bff;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.animation {
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%) scale(3); /* Larger initial size */
    display: none;
    width: 120px;
    height: auto;
}

.animation.active {
    display: block;
    animation: moveRight 3s linear forwards;
}
img{
    height: 200px;
    width:30%;
}

@keyframes moveRight {
    0% {
        left: -10%;
        transform: translateY(-50%) scale(3); /* Larger starting size */
    }
    50% {
        transform: translateY(-50%) scale(4); /* Larger mid-animation size */
    }
    100% {
        left: 110%;
        transform: translateY(-50%) scale(4); /* Same size as mid-animation */
    }
}



