*{
    /* background-color: #f8e6e0; */
    background-color: rgb(24, 83, 8);
}
.injectionimg1{
    width: 300px;             /* Adjust the width to 300px */
    height: 200px;            /* Adjust the height to 200px */
    border: 5px solid rgb(131, 131, 244);  /* Add a solid black border with 5px thickness */
        /* Make the corners slightly rounded */
    object-fit: cover; 
    margin: 10px;
    padding: 10px;
}